system_ext/apex/com.android.vndk.v30.apex
system/system/priv-app/SmartVoice/SmartVoice.apk
product/app/Photos/Photos.apk
product/app/Gmail2/Gmail2.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Maps/Maps.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
modem.img
